<div class="wrapper">

  <ng-include src="'views/header.html'"></ng-include>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

  <section class="content-header">
  <h1>
    Employee
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class=" col-lg-12 ">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">Додади запис</h3>
      </div>
      <div class="box-body">

      <form name="form">

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="text" required class="form-control" mask="9999999999999"  ng-model="employee.UniqueId" placeholder="Внеси ЕМБГ">
          </div>
          <br class="hidden-lg">
        </div>

        <div class="col-lg-6">
           <div class="form-group">
                <select class="form-control" ui-select2 ng-model="employee.Gender" data-placeholder="Внеси пол">
                <option></option>
                <option value="false">Машки</option>
                <option value="true">Женски</option>
                </select>
              </div>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="text" required class="form-control" ng-model="employee.Name" placeholder="Внеси име">
          </div><br>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="text" required class="form-control" ng-model="employee.Surname" placeholder="Внеси презиме">
          </div>  <br>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="text" class="form-control" ng-model="employee.BirthPlace" placeholder="Внеси место на раѓање">
          </div><br class="hidden-lg">
        </div>

        <div class="col-lg-6">
           <div class="form-group">
                <select class="form-control" ui-select2 ng-model="employee.NationalityId" data-placeholder="Внеси националност">
                <option></option>
                  <option ng-repeat="item in nationality" value="{{item.NationalityId}}">{{item.Description}}</option>
                </select>
              </div>
        </div>

        <div class="col-lg-6">
           <div class="form-group">
                <select class="form-control" ui-select2 ng-model="employee.CitizenshipId" data-placeholder="Внеси државјанство">
                <option></option>
                  <option ng-repeat="item in citizenship" value="{{item.CitizenshipId}}">{{item.Description}}</option>
                </select>
              </div>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input ng-click="click()" type="text"  class="form-control" ng-model="employee.CurrentlyLivingCity" placeholder="Внеси место на живеење">
          </div><br>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="text"  class="form-control" ng-model="employee.CurrentlyLivingStreetNo" placeholder="Внеси улица на живеење">
          </div><br>
        </div>

        <div class="col-lg-6">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
            <input type="tel"  class="form-control" ng-model="employee.Telephone" placeholder="Внеси телефон">
          </div><br>
        </div>
        <div class="col-lg-6 pull-right">
        <button class="btn  btn-success pull-right" ng-disabled="form.$invalid" type="submit" ng-click="insertItem(employee)"><i class="fa fa-floppy-o"> </i> Зачувај</button>
        </div>
        </form><div class="clearfix">
        </div>
      </div><!-- /.box-body -->

    </div><!-- /.box -->

  <div class="col-lg-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Измени запис</h3>
        <div class="input-group col-lg-6 pull-right">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" ng-model="search" class=" form-control pull-right" placeholder="Пребарај...">
        </div>
      </div>
      <div class="box-body">
        <table ng-table="tableParams" class="table table-bordered">
          <tr ng-repeat="item in $data | filter:search">
            <td data-title="'Вработени'" header-class="headerTable" ng-class="{ 'emphasis': item.edit == true }">
              <span ng-if="!item.edit">{{item.Name}} {{item.Surname}} - {{item.UniqueId}}</span>
              <div ng-if="item.edit" style="background: #ccc;">

              <div class="col-lg-4"><label>ЕМБГ</label> <input class="form-control" type="text" ng-model="item.UniqueId" /> </div>
              <div class="col-lg-4"><label>Име</label> <input class="form-control" type="text" ng-model="item.Name" /> </div>
              <div class="col-lg-4"> <label>Презиме</label>  <input class="form-control" type="text" ng-model="item.Surname" /> </div>
              <div class="col-lg-4"> <label>Пол</label>
               <div class="form-group">
                <select class="form-control" ui-select2 ng-model="item.Gender"  ng-value="item.Gender" data-placeholder="Внеси пол">
                  <option value=""></option>
                  <option value="0">Машки</option>
                  <option value="1">Женски</option>
                </select>
              </div>
            </div>

        <div class="col-lg-4"> <label>Државјанство</label>
           <div class="form-group">
                <select class="form-control" ui-select2 ng-model="item.CitizenshipId" data-placeholder="Внеси државјанство">
                <option></option>
                  <option ng-repeat="item2 in citizenship" value="{{item2.CitizenshipId}}">{{item2.Description}}</option>
                </select>
              </div>
        </div>

        <div class="col-lg-4"> <label>Националност</label>
           <div class="form-group">
                <select class="form-control" ui-select2 ng-model="item.NationalityId" data-placeholder="Внеси националност">
                <option></option>
                  <option ng-repeat="item2 in nationality" value="{{item2.NationalityId}}">{{item2.Description}}</option>
                </select>
              </div>

        </div>


        <div class="col-lg-4"><label>Место на раѓање</label> <input class="form-control" type="text" ng-model="item.BirthPlace" /> </div>
        <div class="col-lg-4"><label>Место на живеење</label> <input class="form-control" type="text" ng-model="item.CurrentlyLivingCity" /> </div>
        <div class="col-lg-4"><label>Улица на живеење</label> <input class="form-control" type="text" ng-model="item.CurrentlyLivingStreetNo" /> </div>
        <div class="col-lg-4"><label>Телефон</label> <input class="form-control" type="text" ng-model="item.Telephone" /> </div>

                </div>
            </td>
            <td data-title="'Акции'" width="150" class="text-center" ng-class="{ 'emphasis': item.edit == true }">
              <a ng-if="!item.edit" href="" class="btn btn-primary btn-xs" ng-click="item.edit = true; fixGender(item)">Измени</a>
              <a ng-if="item.edit" href="" class="btn btn-success btn-xs" ng-click="item.edit = false; updateItem(item)">Зачувај</a>
              <a href="" class="btn btn-danger btn-xs" ng-really-message="Избриши го {{item.Name}} ?"? ng-really-click="deleteItem(item.EmployeeId)" >Избриши</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section><!-- /.content -->
</div>

  <ng-include src="'views/footer.html'"></ng-include>

</div>
