
    <div class="login-box">
      <div class="login-logo">
        <a href="../../#"><b>Admin</b>LTE</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Внесете го вашето корисничко име за да ја рестартирате лозинката</p>
        <form name="form" ng-submit="reset(email)">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" required placeholder="Корисничко име" ng-model="email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-6">

<!--                 <checkbox  ng-model="checkboxModel" name="custom-name"></checkbox>
            Запомни ме -->
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="form.$invalid">Рестартирај</button>
            </div><!-- /.col -->
          </div>
        </form>


      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

