<div class="wrapper">

  <ng-include src="'views/header.html'"></ng-include>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

  <section class="content-header">
  <h1>
    Healt Status Type
    <small> </small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class=" col-lg-6 ">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">Додади запис</h3>
      </div>
      <div class="box-body">
        <form name="form">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
          <input type="text" required class="form-control" ng-model="description" placeholder="Внеси опис">
        </div>
        <br>
        <button class="btn  btn-success pull-right" ng-disabled="form.$invalid" type="submit" ng-click="insertItem(description)"><i class="fa fa-floppy-o"> </i> Зачувај</button></form><div class="clearfix"></div>
      </div><!-- /.box-body -->

    </div><!-- /.box -->
  </div>
  <div class="col-lg-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Измени запис</h3>
        <div class="input-group col-lg-6 pull-right">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" ng-model="search.Description" class=" form-control pull-right" placeholder="Пребарај...">
        </div>
      </div>
      <div class="box-body">
        <table ng-table="tableParams" class="table table-bordered">
        <tr ng-repeat="item in $data | filter:search">
            <td data-title="'Опис'" header-class="headerTable">
            <span ng-if="!item.edit">{{item.Description}}</span>
            <div ng-if="item.edit"><input class="form-control" type="text" ng-model="item.Description" /></div>
            </td>
            <td data-title="'Акции'" width="150" class="text-center">
            <a ng-if="!item.edit" href="" class="btn btn-primary btn-xs" ng-click="item.edit = true">Измени</a>
            <a ng-if="item.edit" href="" class="btn btn-success btn-xs" ng-click="item.edit = false; updateItem(item)">Зачувај</a>
            <a href="" class="btn btn-danger btn-xs" ng-really-message="Избриши го {{item.Description}} ?"? ng-really-click="deleteItem(item.HealthStatusTypeId)" >Избриши</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section><!-- /.content -->
</div>

  <ng-include src="'views/footer.html'"></ng-include>

</div>
